/* ----    Add your Google Fonts above the rest of your CSS       ----------------------------*/
@import url('https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe');

/* ----    Keep your CSS organized with comments       ----------------------------==========================================================

CSS COPIED TO EACH PAGE

================================================================== */

body.container-fluid {
    background-color: white;
    color: white;
    height: 100%;
    margin: 0px;
}

.logo {
    width: 50%;
    margin: 0px auto;
    display: block;
}

footer {
    background-color: black;
    color: white;
    position: absolute;
    
    width: 95%;
    padding: 10px;
} 

/* === ==========================================================

CSS FOR BLOGS

================================================================== */

.lorem-ipsum {
    
}

#the-blogs {
    margin: auto;
    width: 100%;
    text-align: center;
}

.blog {
    width:65%;
    padding: 50px;
    margin: 40px auto;
    background-color: palegreen;
    font-family: cursive;
    color: black;
    font-size: 25px;
   
}

.blog-title {
    color: black;
    font-size: 30px;
    font-family: cursive;
}

.date-posted {
    color: black;
    font-size: 25px;
    font-family: cursive;
}

.about-us{
  font-family: cursive;
  margin: 80px;
  padding: 10px;
  background: palegreen;
  color: black;
  font-size: 22px;
    width: 20% auto;
}

.about-us-title {
    color: black;
    font-family: cursive;
    font-size: 25px;
}

.hotpicofme{
    width: 10%;
}
 
.anotherhotpicofme{
    width:10%;
    align-content: center;
}

.no {
    width: 20%;
    display:inline;
    margin: 0; 
    padding:0;
    max-height: 200px;
    max-width: 200px;
    align-content: center;
} 

.author {
    color: black;
    font-size: 25px;
    font-family:cursive;
}


/*-- Keep all your "styling and designs" organized with comments! --*/

.poop {
    background-color: palegreen;
}

.ic-pics {

}

.cacaflavored {
    color: black;
    text-align: center;
    background-color: palegreen;
    padding:  10px;
    margin: 20px auto;
    width: 20%;
}

.icInACup {
    max-height: 450px;
}


.cacac {
    color: black;
    text-align: center;
    background-color: palegreen;
    padding:  10px;
    margin: 20px auto;
    width: 20%;
}

.flavorofday {
   align-content: center;
    
    
}



